<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6Ld9JyEpAAAAAB4Plx5ym2mNkEQbJAWrYrA9qj3n</param-value>
    </context-param>
    
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6Ld9JyEpAAAAANBeiXNoK-KJBRvgIBIhDvjRIgAj</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <security-role>
        <description>System administrator</description>
        <role-name>ADMINISTRADOR</role-name>
    </security-role>

    <security-role>
        <description>Candidato authenticated user</description>
        <role-name>CANDIDATO</role-name>
    </security-role>
    
    <security-role>
        <description>Editor authenticated user</description>
        <role-name>EDITOR</role-name>
    </security-role>
    
    
    <security-constraint>
        <display-name>Admin Role</display-name>
        <web-resource-collection>
            <web-resource-name>All App Pages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINISTRADOR</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Editor Role</display-name>
        <web-resource-collection>
            <web-resource-name>All Editor Pages</web-resource-name>
            <url-pattern>/editor/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>EDITOR</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Candidato Role</display-name>
        <web-resource-collection>
            <web-resource-name>All Editor Pages</web-resource-name>
            <url-pattern>/candidato/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CANDIDATO</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>User Role</display-name>
        <web-resource-collection>
            <web-resource-name>Profile Page</web-resource-name>
            <url-pattern>/login/*</url-pattern>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
         
    </security-constraint>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
        
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/templates/forbidden.xhtml</location>
    </error-page>
    
    
    <servlet>
    <servlet-name>MostrarDadosServlet</servlet-name>
    <servlet-class>servlet.MostrarDadosServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>MostrarDadosServlet</servlet-name>
    <url-pattern>/mostrar-dados</url-pattern>
    </servlet-mapping>
    
</web-app>
